/* Mulish font style used */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&family=Mulish:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;700;800&family=Work+Sans:wght@400;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Mulish", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Navigation bar style */

nav .logo {
  display: flex;
  gap: 16px;
  align-items: center;
}
.logo-title {
  color: #131318;
  font-size: 35px;
  font-weight: 800;
}
nav > div > img {
  width: 48px;
  height: 56px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  margin: 30px;
  font-weight: 400;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: #424247;
}

.common-red {
  color: #ff5400;
  font-weight: 700;
}
.checkbtn {
  font-size: 30px;
  color: #131318;
  float: right;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

/* Main sections style */

/* banner section style */

.banner-section {
  background: url("../images/banner.png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 60px auto;
  /* background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  ); */
}
.banner-content {
  text-align: center;
  max-width: 800;
  padding: 50px;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 26px; */
  width: 676px;
  margin: 24px auto;
}
.finding-option {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 16px;
  /* align-items: flex-start; */
  text-align: center;
  gap: 24px;
  margin: 0 120px;
}
.first-input {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  width: 174px;
  padding: 16px;
  display: flex;
}
.second-input {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: #fff;
  width: 174px;
  padding: 16px;
}
.third-input {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: #fff;
  width: 174px;
  padding: 16px;
}
.button {
  font-size: 16px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  width: 174px;
  padding: 16px;
}
/* popular tour section style */

.primary-section {
  width: 1170px;
  display: flex;
  gap: 50px;
  margin: 0px auto;
}
.primary-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.primary-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 577px;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}
.popular-tour-img {
  width: 540px;
  height: 550px;
  border-radius: 16px;
}

/* Choose Your Destination style */

.your-destination {
  margin-top: 100px;
}

.your-destination-content {
  width: 600px;
  text-align: center;
  margin: 0px auto;
}
.common-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.common-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 600px;
}

.row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  margin-top: 10px;
}
.Destination-imgs {
  margin: 0 auto;
  /* display: block; */
}
/* Why Choose Us style */
.first-card-row {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.second-card-row {
  margin: 24px 430px;
}
.card {
  margin-top: 25px;
  padding: 32px;
  width: 573px;
  height: 200px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.card p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* deals-discounts-content style */
.deals-discounts-section {
  padding: 24px;
  gap: 24px;
}
.deals-discounts-content {
  width: 600px;
  text-align: center;
  margin: 0px auto;
}
.deals-discounts-banner {
  margin-left: 100px;
  padding: 24px;
}
.btn-primary-banner {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 210px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  margin-left: 500px;
}
.form-input{
    gap: 16px;
}
form {
  justify-content: baseline;
  gap: 16px;
}
.input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
  
    color: rgba(19, 19, 24, 0.3);
    font-size: 16px;
    font-weight: 400;
    border: none;
    
}

/* responsive media queries */

/* responsive for mobile devices */

@media screen and (max-width: 992px) {
  header {
    padding: 0 20px;
  }
  nav > div > img {
    width: 28.724px;
    height: 33.516px;
  }
  nav .logo-title {
    font-size: 21px;
  }
  .banner-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 335px;
    height: 483px;
    border-radius: 16px;
  }
  .banner-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
  }
  .banner-description {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 304px;
  }
  .finding-option {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
    gap: 16px;
    margin: 0 auto;
  }

  .popular-tour-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .popular-tour-title {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
  }
  .popular-tour-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 335px;
  }
  .popular-tour-img {
    width: 200px;
    /* height: 342px; */
  }
}

.banner-image {
  background: url("./images/Group39.png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 60px auto;
  padding: 50px;
  background-repeat: no-repeat;
}
.banner-image-two {
  background: url("./images/Group40.png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 60px auto;
  padding: 50px;
  background-repeat: no-repeat;
}
.banner-image-two .banenr-card {
  width: 500px;
  height: 340px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin-left: -0%;
  margin-top: 40px;
}
.banenr-card {
  width: 500px;
  height: 340px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  margin-left: 50%;
  margin-top: 40px;
}
.time {
  display: flex;
  gap: 10px;
  margin-left: 40px;
}
.time p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.time p i {
  color: rgba(255, 84, 0, 1);
}

.banenr-card-content {
  margin-left: 40px;
}
.banner-card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.banner-card-price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 20px;
  }
  nav > ul {
    display: none;
  }
  .checkbtn {
    display: block;
  }
}
